* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(43, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
}

.hide {
    display: none;
}

.container {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #63dfae, #6d5a96);
    text-align: center;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}

.container-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #3a3a3a;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline:0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 30px;
}
.search buttton span {
    width: 20px;
}

.weather img {
    width: 160px;
    margin-top: 30px;
}
.location {
    font-size: 30px;
    margin-bottom: 10px;
    padding: 20px;
}

.temperature {
    font-size: 60px;
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 0 60px;
}
.details-container span {
    font-size: 30px;
}
.details-container p {
    font-size: 20px;
    margin-left: -40px;
}